@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap&subset=latin-ext');



$f-family-primary: 'Roboto', sans-serif;
$f-family-brand: 'Rubik';
$f-weight-regular: 400;
$f-weight-normal: 500;
$f-weight-semi: 600;
$f-weight-bold: 700;

@mixin t-headline {
  font-family: $f-family-brand;
  font-size: 48px;
  font-weight: $f-weight-bold;
  line-height: 68px
}

@mixin t-text-h1 {
  font-family: $f-family-brand;
  font-size: 37px;
  font-weight: $f-weight-bold;
  line-height: 52px;
}

@mixin t-text-h2 {
  @include t-text-h1();
  font-family: $f-family-primary;
  font-size: 36px;
  font-weight: $f-weight-semi;
}

@mixin t-text-h3 {
  font-family: $f-family-brand;
  font-size: 29px;
  font-weight: $f-weight-bold;
  line-height: 40px;
}

@mixin t-text-h4 {
  line-height: 26px;
  font-family: $f-family-brand;
  font-size: 20px;
  font-weight: $f-weight-normal;
}

@mixin t-text-h5 {
  font-family: $f-family-brand;
  font-size: 18px;
  font-weight: $f-weight-normal;
  line-height: 22px;
}

@mixin t-text-h6 {
  @include t-text-h5();
  font-family: $f-family-primary;
  font-size: 22px;
  font-weight: $f-weight-semi;
}

@mixin t-title-4-regular {
  @include t-text-h6();
  font-family: $f-family-primary;
  font-size: 22px;
  font-weight: $f-weight-regular;
}

@mixin t-subtitle-1 {
  font-family: $f-family-primary;
  font-size: 18px;
  font-weight: $f-weight-semi;
  line-height: 28px;
}


@mixin t-subtitle-2 {
  font-family: $f-family-primary;
  font-size: 18px;
  font-weight: $f-weight-regular;
  line-height: 28px;
}

@mixin t-body-1 {
  font-family: $f-family-primary;
  font-size: 15px;
  font-weight: $f-weight-normal;
  line-height: 24px;
}

@mixin t-body-2 {
  font-family: $f-family-primary;
  font-size: 14px;
  font-weight: $f-weight-normal;
  line-height: 24px;
}

@mixin t-body-3 {
  font-family: $f-family-primary;
  font-size: 14px;
  font-weight: $f-weight-semi;
  line-height: 22px;
}

@mixin t-body-4 {
  font-family: $f-family-primary;
  font-size: 14px;
  font-weight: $f-weight-regular;
  line-height: 22px;
}

@mixin t-caption-1 {
  font-family: $f-family-primary;
  font-size: 12px;
  font-weight: $f-weight-semi;
  line-height: 18px;
}

@mixin t-caption-2 {
  font-family: $f-family-primary;
  font-size: 12px;
  font-weight: $f-weight-regular;
  line-height: 18px;
}

$typography: (
  'title-1-bold': (
    'font-family': $f-family-brand,
    'font-size': 48px,
    'font-weight': $f-weight-bold,
    'line-height': 68px
  ),
  'title-2-bold': (
    'font-family': $f-family-brand,
    'font-size': 37px,
    'font-weight': $f-weight-bold,
    'line-height': 52px
  ),
  'title-2-semibold': (
    'font-family': $f-family-primary,
    'font-size': 36px,
    'font-weight': $f-weight-bold,
    'line-height': 52px
  ),
  'title-3-bold': (
    'font-family': $f-family-brand,
    'font-size': 29px,
    'font-weight': $f-weight-bold,
    'line-height': 40px
  ),
  'title-3-semibold': (
    'font-family': $f-family-primary,
    'font-size': 28px,
    'font-weight': $f-weight-semi,
    'line-height': 40px
  ),
  'text-h6': (
    'font-family': $f-family-brand,
    'font-size': 23px,
    'font-weight': $f-weight-bold,
    'line-height': 32px
  ),
  'title-4-semibold': (
    'font-family': $f-family-primary,
    'font-size': 22px,
    'font-weight': $f-weight-semi,
    'line-height': 32px
  ),
  'title-4-regular': (
    'font-family': $f-family-primary,
    'font-size': 22px,
    'font-weight': $f-weight-regular,
    'line-height': 32px
  ),
  'subtitle-semibold': (
    'font-family': $f-family-primary,
    'font-size': 18px,
    'font-weight': $f-weight-semi,
    'line-height': 28px,
  ),
  'subtitle-regular': (
    'font-family': $f-family-primary,
    'font-size': 18px,
    'font-weight': $f-weight-regular,
    'line-height': 28px,
  ),
  'body-semibold': (
    'font-family': $f-family-primary,
    'font-size': 16px,
    'font-weight': $f-weight-semi,
    'line-height': 24px,
  ),
  'body-regular': (
    'font-family': $f-family-primary,
    'font-size': 16px,
    'font-weight': $f-weight-regular,
    'line-height': 24px,
  ),
  'body-small-semibold': (
    'font-family': $f-family-primary,
    'font-size': 14px,
    'font-weight': $f-weight-semi,
    'line-height': 22px,
  ),
  'body-small-regular': (
    'font-family': $f-family-primary,
    'font-size': 14px,
    'font-weight': $f-weight-regular,
    'line-height': 22px,
  ),
  'caption-semibold': (
    'font-family': $f-family-primary,
    'font-size': 12px,
    'font-weight': $f-weight-semi,
    'line-height': 18px,
  ),
  'caption-regular': (
    'font-family': $f-family-primary,
    'font-size': 12px,
    'font-weight': $f-weight-regular,
    'line-height': 18px,
  )
);


:root {
  --white: #ffffff;
  --gray-10: #f8f7f8;
  --gray-15: #EBE7EB;
  --gray-40: #e3dfe3;
  --gray-80: #9e8f9e;
  --gray-100: #756075;
  --black-100: #302030;
  --green: #13a03d;
}

// PALETTE
$c-white: #ffffff;
$c-gray-10: #f8f7f8;
$c-gray-15: #EBE7EB;
$c-gray-40: #e3dfe3;
$c-gray-80: #9e8f9e;
$c-gray-100: #767676;
$c-black-100: #333;
$c-green-10: #d3f3d5;
$c-green-100: #13a03d;
$c-green-110: #068b04;
$c-purple-100: #a30063;

$uiColors: (
  "fds-green": $c-green-100,
);


/* GLOBAL TOKENS */

// radius
$radius-medium: 4px !default;

// icons
$icon-size-small: 18px !default;
$icon-size-medium: 24px !default;
$icon-color-white: $c-white !default;
$icon-color-dark: $c-black-100 !default;

// text color
$text-color-primary: $c-black-100 !default;
$text-color-negative: $c-white !default;


/* BUTTON COMPONENT */

// global button settings
$button-padding: 0 16px !default;

// buttons sizes
$button-size-small: 34px !default;
$button-size-medium: 44px !default;
$button-size-large: 52px !default;

// buttons text sizes
@mixin button-text-small { @include t-body-2 };
@mixin button-text-medium { @include t-body-1 };
@mixin button-text-large { @include t-text-h6 };

// buttons colors for disabled and flat state
$button-text-color-disabled: $c-gray-80 !default;
$button-icon-color-disabled: $c-gray-80 !default;
$button-color-transparent-background: transparent !default;
$button-color-fill-background-disabled: $c-gray-15 !default;
$button-color-outline-border-disabled: $c-gray-40 !default;


// variant primary
$button-primary-text: $text-color-negative !default;
$button-primary-fill-background-default: $c-green-100 !default;
$button-primary-fill-background-hover: $c-green-110 !default;
$button-primary-outline-background-default: $c-white !default;
$button-primary-outline-background-hover: $c-green-10 !default;
$button-primary-outline-border-default: $c-green-100 !default;
$button-primary-flat-background-hover: $c-green-10 !default;


