:root {
  --white: #ffffff;
  --gray-10: #f8f7f8;
  --gray-15: #EBE7EB;
  --gray-40: #e3dfe3;
  --gray-80: #9e8f9e;
  --gray-100: #756075;
  --black-100: #302030;
  --green: #13a03d;
}

// PALETTE
$c-white: #ffffff;
$c-gray-10: #f8f7f8;
$c-gray-15: #EBE7EB;
$c-gray-40: #e3dfe3;
$c-gray-80: #9e8f9e;
$c-gray-100: #756075;
$c-black-100: #302030;
$c-green-10: #d3f3dd;
$c-green-100: #13a03d;
$c-green-110: #048b2c;

$uiColors: (
  "fds-green": $c-green-100,
);
